.auth
    height: 100%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

    &__servers
        width: 30vmax
        height: auto
        margin-top: 25px

        ul
            display: grid
            height: 100%
            gap: 5px
            margin: 0
            padding-left: 10px

            li
                font-weight: 900
                span
                    color: red

        h5
            font-size: 2.2ch
            margin: 0

    &__enter
        width: 30vmax
        height: auto

    &__welcome
        h5
            font-size: 2.2ch

    &__form
        display: flex
        flex-direction: column
        justify-content: space-between

        button
            margin-top: 20px
